// Custom.scss

$primary: #906427;
$secondary: #B6AC97;
$dark: #392C1E;
$black: #292222;

$front-family-sans-serif: 'Montsserrat', sans-serif !default;
$front-family-sans-serif: 'Hind Madurai', sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
